#About {
  padding: 1rem;
}
.imagesAbout {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.imagesAbout img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .imagesAbout {
    flex-direction: column;
    align-items: center;
  }
  .imagesAbout img {
    width: 90%;
  }
}
